<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Vegefoods</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> 
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">TRANG CHỦ</a></li>
                <li class="nav-item"><a href="/sanpham" class="nav-link">SẢN PHẨM</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link">LIÊN HỆ</a></li>
                <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link">
                    <span class="icon-shopping_cart"></span>[0]</a>
                </li>
                <% if(!loggedIn) {%>
                <li class="nav-item"><a href="/account/login" class="nav-link sign-in">Đăng Nhập</a></li>
                <% } %>
                <% if(loggedIn) {%>
                <!-- avatar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../../public/images/person_1.jpg" alt="" class="img-fluid">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Tên abc</a>
                        <a class="dropdown-item" href="#">Quản Lý Tài Khoản</a>
                        <a class="dropdown-item" href="/account/logout">Đăng Xuất</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>