<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/addCategory" method="post">
        <input type="text" name="category" placeholder="Thêm danh mục sản phẩm" /> <br>
        <input type="submit" value="Add">

    </form>
</body>
</html>