<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Thêm mới</h2>
    <form action="/admin/add" method="post" enctype="multipart/form-data">       
        <input type="text" name="productName" placeholder="Tên sản phẩm" /></br>    </br>     
        <input type="text" name="price" placeholder="Giá"/></br>        </br> 
        <input type="text" name="quality" placeholder="Số lượng (kg)"/></br>     </br>    
        <input type="file" name="productImage"></br>        </br> 
        <input type="submit" value="Thêm">
    </form>

</body>
</html>