
.pt-2{
    border: 1px solid linear-gradient( to right, #6253e1, #852d91, #121224, #f24645 );
    border-radius: 20px;
    margin: 2rem;
}

#sidebar{
    font-size: 22px;
}

.add_product{
    background: #f7f6f2 !important;
}


.main_add .container .themMoi{
    text-align: center;
}

.main_add .container .themMoi h1{
    color: #28a745;
    font-weight: bold;
}

.main_add .container .themMoi input{
    margin: 2rem 0; 
    font-size: 20px;
}
.main_add .container .themMoi textarea{
    font-size: 24px;
}
.main_add .container .themMoi input[type="file"]{
    font-size: 14px;
    color: #000;
}

.main_add .container .themMoi select{
    margin-top: 1rem;
    font-size: 20px;
    color: #000;
}




